.card {
	width: 500px;
	height: 300px;
	border: solid 1px #808080;
	border-radius:10px 10px 10px 10px;
	background-image: url(georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg);
	background-size: 500px 300px;
	margin-bottom: 10px;
}

h1 {
	font-size: 25px;
}

h2{
	font-size: 15px;
}

.nom {

	margin-left: 40px;
	color: #373737;
	padding-top: 10px;
}

.titre {
	color: #373737;
	margin-top : -15px;
	margin-left: 40px;
}

li {
	list-style-type: none; 
	font-size: 12px;
}

.card2 {
	display: table-cell;
  	vertical-align: middle;
	width: 500px;
	height: 300px;
	border: solid 1px #808080;
	border-radius:10px 10px 10px 10px;
	background-image: url(georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg);
}

.logo {
	text-align: center;

}
